<template>
  <div class="hello">
    <div class="container text-center">
    </div>
    <h2>Pokemon search</h2>
      <vue-fuse :keys="['name']" :list="pokemon" :defaultAll="true" v-validate="'alpha_dash'"></vue-fuse>
      <div v-for="result in results" :key="result.name">
          <div><strong>{{ result.name }}</strong></div>
          <b-list-group v-for="(type, index) in result.types" :key="`result.types-${index}`">
                <b-list-group-item>{{type}}</b-list-group-item>
          </b-list-group>
      </div>
      <pre />
      </div>
</template>

<script>
import { fetchPokemon, queryPokemon } from '@/api'

export default {
  name: 'PokemonSearcher',
  data () {
    return {
      pokemon: [],
      results: [],
      query: null
    }
  },
  created () {
    this.$on('fuseInputChanged', query => {
      // query the server to see if anything has changed
      // if not we can use the vuejs component for searching
      this.query = query
      this.$validator.validateAll()
        .then(valid => {
          if (valid) {
            queryPokemon(this.query, 'dateOfDB')
              .then(response => {
                this.results = response.data
              })
              .catch(err => {
                console.log(err, 'Use front end searching')
                var options = {
                  caseSensitive: true,
                  shouldSort: true,
                  threshold: 0.6,
                  location: 0,
                  distance: 100,
                  maxPatternLength: 32,
                  minMatchCharLength: 1,
                  keys: ['name', 'pokemon.name']
                }
                this.$search(this.query, this.pokemon, options).then(
                  result => {
                    this.results = result
                  }
                )
              })
          } else {
            console.log('Not cool')
          }
        })
    })
  },
  beforeMount () {
    fetchPokemon().then(response => {
      this.pokemon = response.data
    })
  }
}
// TODO: add some debounce limits for long waits
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import "https://cdn.jsdelivr.net/npm/animate.css@3.5.1";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
  .holder {
    background: #fff;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  ul li {
    padding: 20px;
    font-size: 1.3em;
    background-color: #E0EDF4;
    border-left: 5px solid #3EB3F6;
    margin-bottom: 2px;
    color: #3E5252;
  }
  p {
    text-align:center;
    padding: 30px 0;
    color: gray;
  }
  .container {
    box-shadow: 0px 0px 40px lightgray;
  }
  input {
    width: calc(100% - 40px);
    border: 0;
    padding: 20px;
    font-size: 1.3em;
    background-color: #323333;
    color: #687F7F;
  }
  .alert {
    background: #fdf2ce;
    font-weight: bold;
    display: inline-block;
    padding: 5px;
    margin-top: -20px;
  }
  .alert-in-enter-active {
    animation: bounce-in .5s;
  }
  .alert-in-leave-active {
    animation: bounce-in .5s reverse;
  }
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
i {
  float:right;
  cursor:pointer;
}

</style>
